.carrousels{
    margin-top: 4em;
    font-family: 'Josefin Sans';
}
.buttons button{
    box-shadow: 2px 2px 2px gray;
}
.carrousel__element img{
    height: 12em;
    width: 100%;
    filter: drop-shadow(5px 5px 7px gray);
}
.carrousel__element_info{
    text-align: center;
}
.carrousel__previous{
    position: relative;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    top: 120px;
    z-index: 8;
    margin-left: 3px;
}
.carrousel__previous2,
.carrousel__previous3{
    position: relative;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    top: 120px;
    z-index: 8;
    margin-left: 3px;
}
.carrousel__next{
    position: relative;
    float: right;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    bottom: 145px;
    z-index: 8;  
    margin-right: 3px;
}
.carrousel__next2,
.carrousel__next3{
    position: relative;
    float: right;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    bottom: 145px;
    z-index: 8;  
    margin-right: 3px;
}
.btn-section__man{
    background-color: gold;
}
.btn-section__man,
.btn-section__women,
.btn-section__kids{
    padding: 10px;
    border: none;
    border-radius: 50px;
    transition:  background-color .5s;
}
.btn-section__man:hover,
.btn-section__women:hover,
.btn-section__kids:hover{
    background-color: gold;
}
.buttons{
    width: 70%;
    margin: auto;
    text-align: center;
}
.carrousel-kids{
    position: absolute;
    top: -9999px;
}
.carrousel-woman{
    position: absolute;
    top: -9999px; 
}

.carrousel-man,
.carrousel-woman,
.carrousel-kids{ 
    width: 90%;
    margin: auto;
    margin-bottom: 5em;
}
.carrousel-img{
    object-fit: cover;
}
.offers-title{
    text-align: center;
}
.offers{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.offers__group del{
    color: gray;
}
.offers__group p{
    color: red;
}
.offers__group{
    margin-top: 3em;
}
.offers img{
    width: 70%;
    filter: drop-shadow(3px 3px 3px gray);
}
.offers__price{
    display: flex;
    justify-content: center;
    gap: 10px;
}
@media (min-width: 480px){
    .carrousels{
        width: 85%;
        margin: auto;
        margin-bottom: 5em;
    }
    .btn-section__man,
    .btn-section__women,
    .btn-section__kids{
        margin: 10px;
    }
}
@media (min-width: 768px){
    .offers img{
        width: 50%;
    }
    .carrousel-man,
    .carrousel-woman,
    .carrousel-kids{ 
        width: 100%;
        margin: auto;
        margin-bottom: 5em;
    }
    .carrousels{
        margin-top: 4em;
        margin-bottom: 9em;
    }
}
@media (min-width: 1024px){
    .offers{
        grid-template-columns: repeat(3, 1fr);
    }
    .carrousels{
        margin-top: -8em;
    }
    .carrousel__next,
    .carroudel__next2,
    .carrousel__next3{
        bottom: 140px;
    }
}

@media (min-width: 1200px){
    .carrousels{
        margin-top: -7em;
    }
    .carrousel-man,
    .carrousel-woman,
    .carrousel-kids{
        width: 90%;
    }
}