footer{
    background-color: gold;
    padding-top: 3em;
    padding-bottom: 4px;
    font-family: 'Josefin Sans';
    font-weight: bolder;
    color: black;
}
.top-btn button{
    width: 50%;
    border: none;
    background-color: black;
    color: gold;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.top-btn button:hover{
    background-color: gold;
    color: black;
}
.footer-content{
    text-align: center;
}
.footer-content p{
    font-size: 17px;
    font-weight: bolder;
}
.footer-content li{
    list-style: none;
}
.footer-info{
    margin-bottom: 3em;
}
.copy{
    text-align: center;
    margin-top: 5em;
}
.footer-item:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.wave2{
    margin-top: 2em;
}
.top-btn{
    text-align: center;
    
}

@media (min-width: 768px){
    .top-btn button{
        width: 40%;
        padding: 20px;
    }
    .footer-svg{
        margin-bottom: -3em;
    }
    .footer-content{
        justify-content: center;
        justify-content: space-evenly;
        display: flex;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }
    .footer-info{
        width: 30%;
    }
    .footer-item{
        padding: 10px;
    }
    footer{
        margin-top: 2em;
    }
}
@media (min-width: 1024px){
    .top-btn button{
        width: 20%;
        padding: 20px;
    }
    .footer-svg{
        margin-bottom: 0;
    }
    footer{
        margin-top: -3em;
    }
    .footer-content{
        width: 80%;
    }
}
