header{
    font-family: 'Josefin Sans';
}
.navigation{
    position: fixed;
    top: -30em;
    background-color: var(--third-color);
    z-index: 12;
    width: 100%;
    height: 70%;
    transform: translateY(-20em);
    transition: transform 0.5s ease;
}
.header-svg{  
    width: 100%;
    margin-top: -2.5em;
    position: fixed;
    z-index: 10;
    filter: drop-shadow(3px 3px 3px gray);
}
.navigation2{
    position: fixed;
    top: 0;
    background-color: gold;
    width: 100%;
    z-index: 13;
    height: 3.3em;
 
}
.navigation2 a{
    cursor: pointer;
    
    font-size: 25px;
    text-decoration: none;
    color: rgb(33, 32, 32);
    margin-left: 15px;
    position: relative;
    top: 10px;
}
.navigation2 i{
    rotate: 300deg;
}

.first-headerCarrousel-img{
    filter: opacity(0.8) drop-shadow(0 0 0 black ) blur(1px);
}

.header-text{
    position: absolute;
    top: 10em;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}
.header-text p{
    width: 90%;
    margin: auto;
}
.header-text h2{
    font-weight: bolder;
}
.header-text2{
    position: absolute;
    top: 7em;
    text-align: center;
    color: white;
    font-weight: bold;
}
.header-btn{
    margin-top: 15px;
}
.header-btn button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em;
    margin-left: 5px;
    margin-right: 5px;
    background-color: gold;
    color: black;
}
.show{
    transform: translateY(30em);
}
.hamburger{
    position: fixed;
    right: 5px;
    top: 2px;
    z-index: 14;   
}

#list-item-home{
    margin-top: 3em;
}
.list-item{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    list-style: none;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
.header-logo{
    list-style: none;
    position: fixed;
    width:140px;
    top: -5px;
    left: 5px;
    z-index: 11;
}
.carousel-item img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
#carouselExampleIndicators{
    margin-top: 3em;
}
#logo-navigation{
    
    text-decoration: none;
    color: white;
    position: absolute;
    left: 20px;
    top: 16px;
    font-size: 28px;
    rotate: 300deg;
}
.main-text{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;
    margin-bottom: 7em;
    text-align: center;
}
.main-text button{
    margin-top: 1em;
    border-radius: 5px;
    position: relative;
    background-color: var(--third-color);
    color: white;
    width: 40%;
    padding: 10px;
    border: none;
}
@media (min-width: 480px){
    .main-text button{
        margin-top: 1em;
        width: 60%;
        padding: 5px;
    }
    .main-text img{
        width: 115%;
    }
    .main-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .main-text p{
        position: relative;
        top: 30%;
    }

    .header-svg{
        margin-top: -4em;
    }
    .header-text{
        width: 100%;
    }
    .header-text2{
        width: 100%;
    }
    .carousel-item img{
        object-fit: cover;
    }
}
@media (min-width: 768px){
    .header-svg{
        margin-top: -7em;
    }
    .main-text h2{
        margin-top: 3em;
    }
    .main-text button{
        width: 30%;
        padding: 8px;
    }
    .list-item{
        padding: 20px;
    }
}
@media (min-width: 1024px){
    
    .header-logo{
        margin-left: 1.5em;
        width: 170px;
    }
    .navigation{
        top: 0;
        background-color: gold;
        height: 10%;
    }

    .header-text{
        font-size: 30px;
        text-align: center;
        margin-top: -3em;  
    }
    .header-text p{
        width: 100%;
    }
    .header-btn{
        text-align: center;
        width: 100%;
    }
    .header-btn button{
        font-weight: bolder;
        font-size: 20px;
        width: 15%;
        padding: 7px;
    }
    .navigation2{
        display: none;
    }
    
    .navigation{
        position: fixed;
        display: flex;
        justify-content: flex-end;
        transform: translateZ(20em);
    }
    .header-svg{
       display: none;
    }
    .main-text button{
        margin-top: 3em;
    }
    #list-item-home{
        margin-top: 1em;
    }
    #carouselExampleIndicators{
        margin-top: 0;
    }
    .hamburger{
        visibility: hidden;
    }
   
    .list-item{
        transition: color .4s;
        font-size: 18px;
        padding: 0;
        margin: 1em;
        margin-right: 2em;
        margin-top: 1em;
        align-items: center;
        color: black;
        transition: 0.3s;
    }
    .list-item:hover{
        transition: 0.3s;
        text-decoration: underline;
        color: rgb(255, 255, 255);
    }
    
    .headerCarrousel-img{
        object-fit: cover;
        width: 100%;
        z-index: 2;
    }  
}
@media (min-width: 1200px){
    
}
@media (min-width: 1440px){
   

    .main-text h2{
        margin-top: 5em;
        vertical-align: middle;
    }
    .main-text button{
        margin-top: 5em;
    }
}
