.product-gender{
    margin-top: 4em;
    overflow-x: hidden;
    font-family: 'Josefin Sans';
}
.product-gender-container{
    display: grid;
    grid-template-columns: 1fr;
}
.product-gender-container img{
    width: 100%;
    margin-bottom: 1em;
    filter: drop-shadow(3px 3px 2px gray);
}
.men-content{
    text-align: center;
}
.label-product{
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    position: relative;
    top: -155px;
    text-align: center;
    border: none;
    
}
.img-section{
    height: 15em;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.main-text p{
    text-align: center;
    width: 90%;
    margin: auto;
}
.main-img{
    width: 100%;
    filter: drop-shadow(3px 3px 3px gray);
}
@media (min-width: 480px){
    .product-gender-container{
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 768px){
    .product-gender-container{
        width: 60%;
    }
}
@media (min-width: 1024px){
    .men-content{
        overflow: hidden;
        transition: 0.5s;
    }
    .men-content img:hover{
        transform: scale(1.1);
    }
    .product-gender-container{
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: auto;
        margin-top: 3em;
        justify-content: center;
        gap: 2em;
    }
    .img-section{
        width: 100%;
        height: 60%;   
    }
}
@media (min-width: 1200px){
    .product-gender-container{
        max-width: 1200px;
        margin: auto;
        margin-top: 3em;
    }
}